#xinyang_main{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#xinyang_main p{
    width: 100%;
    text-indent: 2em;
    line-height: 50px;
    font-size: 20px;
    color: #592222;
}